@font-face {
  font-family: "moon-get";
  src: url("./fontes/moon_get-Heavy.ttf") format("truetype");
}

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container-left {
  width: 50%;
}

.container-right {
  width: 50%;
  margin: 0 20px;
}

.gif-weather {
  width: 100%;
}

.gif-weather-source {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.icone-principal {
  width: 300px;
  height: 150px;
  object-fit: cover !important;
  object-position: 100% 10%;
  border-radius: 10px;
}

.nome-principal {
  font-family: "moon-get";
  color: rgb(127, 162, 245);
}

.weather__wind {
  border-left: 5px solid;
  border-image: linear-gradient(to top, rgb(127, 162, 245) 50%, white) 1 100%;

  padding-left: 7px;
}

.botao {
  background-color: rgb(127, 162, 245);
  color: white;
}